<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thông tin hành trình</title>
    </head>
    <body>
        <h2>Bước 3: Nhập thông tin hành trình</h2>
        <form th:action="${id != null} ? @{/journeys/add/{id}/submit(id=${id})} : @{/journeys/add/submit}" method="post">
            <!-- Giữ lại các thông tin trước -->
            <input type="hidden" name="departureStationId" th:value="${departureStationId}" />
            <input type="hidden" name="arrivalStationId" th:value="${arrivalStationId}" />
            <input type="hidden" name="trainId" th:value="${trainId}" />
            <input type="hidden" name="departureTime" th:value="${departureTime}" />
            <input type="hidden" name="arrivalTime" th:value="${arrivalTime}" />
            <input type="hidden" name="totalDistance" th:value="${totalDistance}" />
            <input type="hidden" name="totalTravelTime" th:value="${totalTravelTime}" />

            <p>Arrival Time: <span th:text="${arrivalTime}"></span></p>

            <p>Total Distance: <span th:text="${totalDistance} + ' km'"></span></p>

            <p>Total Travel Time: 
                <span th:text="${totalTravelTime}"></span>
            </p>

            <button type="submit" th:if="${id == null}">Thêm hành trình</button>
            <button type="submit" th:unless="${id == null}">Cập nhật hành trình</button>
        </form>
    </body>
</html>
