<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chọn tàu</title>
    </head>
    <body>
        <h2>Bước 2: Chọn tàu</h2>
        <form th:action="@{/journeys/add/step3}" method="post">
            <!-- Giữ lại thông tin ga đi và ga đến dưới dạng hidden -->
            <input type="hidden" name="departureStationId" th:value="${departureStationId}" />
            <input type="hidden" name="arrivalStationId" th:value="${arrivalStationId}" />

            <label>Train:</label>
            <select name="trainId" required>
                <option th:each="t : ${trains}" th:value="${t.id}" th:text="${t.name}"></option>
            </select>
            <label>Departure Time:</label>
            <input type="datetime-local" name="departureTime" required/>

            <button type="submit">Next</button>
        </form>
    </body>
</html>
