<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thêm hành trình</title>
    </head>
    <body>
        <h2>Thêm hành trình mới</h2>

        <form th:action="@{/journeys/add}" th:object="${journey}" method="post">
            <label>Train:</label>
            <select th:field="*{trainId.id}">
                <option th:each="t : ${trains}" th:value="${t.id}" th:text="${t.name}"></option>
            </select><br/>

            <label>Departure Station:</label>
            <select th:field="*{departureStationId.id}">
                <option th:each="s : ${stations}" th:value="${s.id}" th:text="${s.name}"></option>
            </select><br/>

            <label>Arrival Station:</label>
            <select th:field="*{arrivalStationId.id}">
                <option th:each="s : ${stations}" th:value="${s.id}" th:text="${s.name}"></option>
            </select><br/>

            <label>Departure Time:</label>
            <input type="datetime-local" th:field="*{departureTime}"/><br/>

            <label>Arrival Time:</label>
            <input type="datetime-local" th:field="*{arrivalTime}"/><br/>

            <label>Total Distance:</label>
            <input type="number" th:field="*{totalDistance}"/><br/>

            <label>Total Travel Time (minutes):</label>
            <input type="time" step="1" th:field="*{totalTravelTime}" />

            <label>Status:</label>
            <select th:field="*{status}">
                <option th:each="st : ${T(com.kmt.pojo.Journey.JourneyStatus).values()}"
                        th:value="${st}"
                        th:text="${st}"></option>
            </select><br/>

            <button type="submit">Thêm</button>
        </form>
    </body>
</html>
