<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:fragment="title">Quản Lý Hành Trình</title>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>KMT &copy; 2025</h1>
            </div>
        </footer>
    </body>
</html>
